<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos App
    </ion-title>
    <ion-buttons end>
      <button ion-button
      *ngIf="!ordenando"
        (click)="ordenando=true"
      >Ordenando</button>
      <button ion-button
      *ngIf="ordenando"
        (click)="ordenando=false"
      >Listo</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-->Con esto se hace el refresehr para jalara hacia abajo y tener de nuevo los animales</!-->
  <ion-refresher [enabled]=!ordenando (ionRefresh)="recargar_aniamles($event)">
   <ion-refresher-content></ion-refresher-content>
 </ion-refresher>

<!-->Con esto se crea la lista</!-->
<ion-list [reorder]="ordenando" (ionItemReorder)="reordenar_animales($event)">
  <!-->Con "let i index" creas un indice en caso de que lo necesites, :3</!-->
  <!-->Con ion-item-sliding creas una lista deslizable</!-->
<ion-item-sliding *ngFor="let animal of animales; let i = index">
  <ion-item (click)="reproducir(animal)">
    <ion-avatar item-left>
      <img [src]="animal.imagen">
    </ion-avatar>
    <h2> {{ animal.nombre }} </h2>
    <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
    <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
  </ion-item>
  <ion-item-options side="right">
      <button ion-button color="danger"
      (click)="borrar_animal(i)">
        <ion-icon name="trash"></ion-icon>
        Borrar
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>



</ion-content>
